<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout">

<meta charset="UTF-8">
<title>Review</title>

<!-- config fragment 사용-->
<th:block th:replace="fragment/config :: configFragment" ></th:block>

<!-- header fragment 사용-->
<th:block th:replace="fragment/header :: commonHeader" ></th:block>

<!-- 현재 layout을 사용하는 content fragment의 내용을 삽입-->
<th:block layout:fragment="content" ></th:block>

<!-- footer fragment 사용-->
<footer th:replace="fragment/footer :: commonFooter"></footer>
</html>
