{{>layout/header}}

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>{{brd_title}}</h2>
        <p>
            {{brd_createdDate}} &nbsp;&nbsp;->&nbsp;&nbsp; {{brd_modifiedDate}}<br>
            <strong>{{mem_nickname}}</strong> &nbsp;&nbsp; &nbsp;&nbsp; {{brd_viewCnt}}
        </p>
    </header>
    <div class="container">
        <section>
            <a href="/file/{{brd_file}}"></a>
            <img src="/images/{{brd_image}}" alt="" />
            <p>{{brd_content}}</p>
        </section>
        <hr class="major" />
        <div class="row">
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"></a>
                    <h3>Mollis adipiscing nisl</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="{{images/pic02.jpg}}" alt="" /></a>
                    <h3>Neque ornare adipiscing</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>


{{>layout/footer}}