{{>layout/header}}

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <input type="hidden" id="rep_brd_id" value="{{board.brd_id}}">
        <h2>{{board.brd_title}}</h2>
        <p>
            {{board.createdDate}} {{#board.modifiedDate}} &nbsp;&nbsp;->&nbsp;&nbsp; {{board.modifieddate}} {{/board.modifiedDate}}<br>
            <strong>{{board.mem_nickname}}</strong> &nbsp;&nbsp; &nbsp;&nbsp; 조회수
        </p>
    </header>
    <div class="container">
        <section>
            <div id="content">{{board.brd_content}}</div>
        </section>

        <a href="/board/" role="button" class="button big alt"> 글 목록 </a> &nbsp;&nbsp;&nbsp;
        <a href="/board/update/{{board.brd_id}}" class="button big special"> 수정 </a>
        <hr class="major" />
<!--        <div class="row">-->
        <h1>Reply</h1>
            <div>
                <section class="special">
                    {{^replyList}}
                        <h1>작성된 댓글이 없습니다.</h1>

                        <hr class="major" />
                    {{/replyList}}
                    {{#replyList}}
                        <h4>{{mem_nickname}}</h4>
                        <p>{{rep_content}}</p>
                        <ul class="actions">
                            <li><a href="javascript:rep_update()" class="button alt">세션과 작성자 같을때 수정</a></li>
                            <li><a href="javascript:rep_del()" class="button alt">세션과 작성자 같을때 삭제</a></li>
                            <li><a href="javascript:rep_open()" class="button alt">답글</a></li>
                        </ul>

                        <hr class="major" />

                        <div class="special" id="rep_second_save" style="display: none;">
                            <input type="hidden" value="{{#ses_id}}{{ses_id}}{{/ses_id}}" id="session">
                            <label for="mem_nickname"></label>
                            <input type="text" name="mem_nickname" id="mem_re_nickname" value="{{mem_nickname}}" readonly>

                            <label for="rep_content">댓글 내용</label>
                            <textarea class="form-control" id="rep_re_content" placeholder="댓글 내용을 작성해 주세요"></textarea>

                            <!-- 댓글 비밀번호 인증 넣기 -->

                            <a href="javascript:write_cancel()" role="button" class="button big alt"> 작성 취소 </a> &nbsp;&nbsp;&nbsp;
                            <a href="javascript:rep_save({{rep_id}})" class="button big special"> 댓글 작성 </a>
                        </div>
                    {{/replyList}}
                </section>
            </div>
        <br><br><br>
            <div>
                <!-- 세션 없을 때-->
                {{^ses_id}}
                    <section class="special">
                        <textarea class="form-control" id="rep_content" onclick="location.href='/member/signIn'" readonly>
                            로그인 후 사용 가능 합니다.
                        </textarea>
                    </section>
                {{/ses_id}}
                <!-- 세션 있을 때-->
                {{#ses_id}}
                    <section class="special"  id="rep_first_save">
                        <input type="hidden" value="{{ses_id}}" id="session">
                        <label for="mem_nickname"></label>
    <!--                    <input type="text" name="mem_nickname" id="mem_nickname" value="닉네임 넣어야하는데 detail에서 오류남.." readonly>-->
                        <input type="text" name="mem_nickname" id="mem_nickname" value="{{mem_nickname}}" readonly>

                        <label for="rep_content">댓글 내용</label>
                        <textarea class="form-control" id="rep_content" placeholder="댓글 내용을 작성해 주세요 (이거 댓글 옆에 답글 버튼 만들고 그 밑에 달리게끔 위치수정도 할 예정)"></textarea>

                        <!-- 댓글 비밀번호 인증 넣기 -->

                        <a href="javascript:write_cancel()" role="button" class="button big alt"> 작성 취소 </a> &nbsp;&nbsp;&nbsp;
                        <a id="rep_save" class="button big special"> 댓글 작성 </a>
                    </section>
                {{/ses_id}}
            </div>
<!--        </div>-->
    </div>
</section>

{{>layout/footer}}