<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[${board.getBrd_title()}]]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="fragment/common :: css"></div>

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <div th:replace="fragment/common :: header"></div>

    <div class="site-blocks-cover overlay" style="background-image: url(images/hero_1.jpg);" data-aos="fade">
        <div class="container">
            <div class="row align-items-center justify-content-center">

                <input type="hidden" id="brd_id" th:value="${board.getBrd_id()}">
                <div class="col-md-6 mt-lg-5 text-center">
                    <h3>
                        <th:block th:switch="${board.brd_category}">
                            <th:block th:case="0">Notice</th:block>
                            <th:block th:case="1">Develop</th:block>
                            <th:block th:case="2">Everything</th:block>
                            <th:block th:case="3">Anonymous Board</th:block>
                        </th:block>
                    </h3>
                    <br><br>
                    <h1>[[${board.getBrd_title()}]]</h1><br>
                    <p class="post-meta"><strong>[[${#temporals.format(board.getCreatedDate(), 'MM dd, yyyy h:mm
                        a')}]]</strong>
                        <strong th:if="${board.modifiedDate != board.createdDate}">
                            <th:block th:if="${board.modifiedDate != null}">
                                &nbsp;&nbsp;->&nbsp;&nbsp; [[${#temporals.format(board.getModifiedDate(), 'MM dd, yyyy
                                h:mm a')}]]
                            </th:block>
                        </strong><br>
                        Posted by <strong>[[${board.getMem_nickname()}]]</strong></p>
                    <p>[[${board.brd_cnt}]] View</p>

                </div>

            </div>
        </div>
        <a href="#content-section" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
    </div>


    <section class="site-section" id="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-content">
                    <input type="hidden" id="tag_content" th:value="${board.getBrd_content()}">
                    <div id="content" class="lead" style="min-height: 500px"></div>

                    <div class="pt-5">
                        <p>
                            <input type="button" onclick="history.back()" class="btn btn-sm" value="Back">&nbsp;&nbsp;
                            <th:block th:if="${session['ses_id'] == board.getMem_id()}">
                                <input type="button" id="btn-update-form" class="btn btn-primary btn-sm"
                                       value="Board Update & Delete">
                            </th:block>
                        </p>
                    </div>


                    <div class="pt-5">
                        <h3 class="mb-5">Reply [ <strong>[[${replyList.size()}]]</strong> ]</h3>
                        <ul class="comment-list" th:if="${replyList.size() == 0}">
                            <h2>댓글이 없습니다.</h2>
                        </ul>

                        <input type="hidden" id="list_size" th:value="${replyList.size()}">
                        <ul class="comment-list" id="first_ul" th:unless="${replyList.size() == 0}">
                            <th:block th:each="reply: ${replyList}">
                                <!-- 공통 form -->
                                <li class="comment" th:id="${replyStat.count}">
                                    <div class="comment-body">
                                        <input type="hidden" class="rep_id" th:value="${reply.rep_id}">
                                        <input type="hidden" class="rep_depth" th:value="${reply.rep_depth}">
                                        <input type="hidden" class="rep_seq" th:value="${reply.rep_seq}">
                                        <h3>[[${reply.mem_nickname}]]</h3>
                                        <div class="meta">[[${#temporals.format(reply.getCreatedDate(), 'MM dd, yyyy
                                            h:mm a')}]]
                                            <th:block th:if="${reply.modifiedDate != reply.createdDate}">
                                                <th:block th:if="${reply.modifiedDate != null}">
                                                    -> [[${#temporals.format(reply.getModifiedDate(), 'MM dd, yyyy h:mm
                                                    a')}]]
                                                </th:block>
                                            </th:block>
                                        </div>
                                        <div class="rep_content">[[${reply.getRep_content()}]]</div>
                                        <div class="rep_btn" th:if="${session['ses_id'] != null}">
                                            <a th:onclick="|javascript:move_form(${replyStat.count})|" class="reply">Reply</a>
                                            <th:block th:if="${reply.mem_id == session['ses_id']}">
                                                <a th:onclick="|javascript:update_form(${replyStat.count})|"
                                                   class="reply">Update</a>
                                                <a th:onclick="|javascript:rep_del(${reply.rep_id})|" class="reply">Delete</a>
                                            </th:block>
                                        </div>
                                    </div>
                        <!-- 대댓글 입력창 자리이동 공간 -->
                                </li>
                            </th:block>
                        </ul>
                    <!-- END comment-list -->

                    <div id="rep_form_place"></div>
                    <div class="comment-form-wrap pt-5" id="rep_form">
                        <hr/>
                        <form class="p-5 bg-light" th:if="${member == null}">
                            <blockquote class="mb-5">
                                <p>로그인 후 댓글을 작성해주세요!</p>
                                <input type="button" value="Sign In" class="btn btn-primary"
                                       onclick="location.href='/member/sign_in'">
                            </blockquote>
                        </form>
                        <form class="p-5 bg-light" th:unless="${member == null}">
                            <input type="hidden" id="mem_id" th:value="${member.mem_id}">
                            <div class="form-group">
                                <label for="nickname">Nickname *</label>
                                <input type="text" class="form-control" id="nickname"
                                       th:value="${member.getMem_nickname()}" readonly>
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="mem_pw" th:value="${member.getMem_password()}">
                                <label for="password">Password *</label>
                                <input type="password" class="form-control" id="password" required>
                                <div id="pw_ch"></div>
                            </div>

                            <div class="form-group">
                                <label for="rep_content">Content *</label>
                                <textarea id="rep_content" cols="30" rows="10" class="form-control" required></textarea>
                            </div>
                            <div class="form-group rep_btn">
                                <input type="button" value="save" class="btn btn-primary" id="btn_rep_save">&nbsp;&nbsp;
                                <input type="button" value="cancel" class="btn" id="rep_cancel">
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
</div>
</section>

<div th:replace="fragment/common :: footer"></div>

</div> <!-- .site-wrap -->
<div th:replace="fragment/common :: script"></div>

<script type="text/javascript" th:inline="javascript">
    // summernote로 저장한 내용 불러오기 (brd_content)
    var content = $('#tag_content').val();
    $(function () {
        $('#content').append(content);
    })

    // 게시글 수정form으로 이동
    $('#btn-update-form').on('click', function () {
        window.location.href = '/board/update?brd_id=' + $('#brd_id').val();
    })

    // ------ reply -------

    // reply write 제약조건
    var pwCh = $('#mem_pw').val();
    var check = false;
    $('#password').blur(function () {
        if ($('#password').val() == pwCh) {
            console.log('true');
            $('#pw_ch').text('비밀번호 일치 확인되었습니다.');
            $('#pw_ch').css('color', 'black');
            check = true;
        } else {
            console.log('false');
            $('#pw_ch').text('비밀번호가 일치하지 않습니다.');
            $('#pw_ch').css('color', 'red');
            check = false;
        }
        $('#pw_bool').attr('value', check);
    });

    // reply write cancel
    $('#rep_cancel').on('click', function () {
        $('#rep_content').val("");
        $('#password').val("");
        $('#pw_ch').val("");
        $('#pw_bool').val(false);

        // 대댓글 취소 시 다시 원래 자리로 입력창 돌려놓기
        $('#rep_form_place').html(document.getElementById('rep_form'));
    });

    // reply form move
    // 대댓글 입력 시 입력창 이동
    function move_form(li_id) {
        var place = document.getElementById(li_id);
        var form = document.getElementById('rep_form');

        place.append(form);
    }

    // reply update form
    // 원래 댓글내용, 버튼태그 저장
    var b_content, b_btn;

    function update_form(li_id) {
        var li = $('#' + li_id);
        var div = li.children().first();

        // 원래 댓글 내용
        b_content = div.find('div.rep_content').html();

        // 원래 버튼 태그
        b_btn = div.find('div.rep_btn').children();

        // 새로 넣을 태그
        var new_content = '<textarea id="rep_upd_content" cols="30" rows="10" class="form-control">' + b_content + '</textarea>';
        var new_btn = '<a onclick="javascript:rep_update(' + li.find('input.rep_id').val() + ')" class="reply">Save</a>&nbsp;&nbsp;' +
            '<a onclick="javascript:rep_upd_cancel(' + li_id + ')" class="reply">Cancel</a>';

        div.find('div.rep_content').html(new_content);
        div.find('div.rep_btn').html(new_btn);
    }

    // 댓글 수정 취소
    function rep_upd_cancel(li_id) {
        var div = $('#' + li_id).children().first();

        // 원래 저장했던 내용으로 바꾸기
        div.find('div.rep_content').html(b_content);
        div.find('div.rep_btn').html(b_btn);

        // 변수 초기화
        b_btn = '';
        b_content = '';
    }

    // reply list sort
    $(document).ready(function () {
        // li_id : li의 id
        // prev : 이전 index의 depth
        // cur : 현재 index의 depth
        var size = $('#list_size').val();

        for (let i = 2; i <= size; i++) {
            var _this = $('#' + i);
            var _prev = $('#' + (i - 1));

            var prev = _prev.find('input.rep_depth').val();
            var cur = _this.find('input.rep_depth').val();

            if (prev > cur) {
                <!-- 이전 depth > 현재 depth : 같은 depth의 이전 li 뒤에 붙이기-->
                var new_prev_li = _prev.parent('ul.children').parent('li');
                var new_prev = new_prev_li.find('input.rep_depth').val();

                while (new_prev == cur) {
                    new_prev_li = new_prev_li.parent('ul.children').parent('li');
                    new_prev = new_prev_li.find('input.rep_depth').val();
                }

                new_prev_li.parent('li').after(_this);
            } else if (prev < cur) {
                <!-- 이전 depth < 현재 depth : 이전 div 뒤에 ul태그 추가해서 붙이기 -->
                var new_form = '<ul class="children"></ul>';

                _prev.append(new_form);
                _prev.find('ul.children').append(_this);
            } else {
                <!-- 이전 depth = 현재 depth : 이전 li 뒤에 붙이기 -->
                _prev.after(_this);
            }

        }
    })


    // -------ajax----------

    // reply save
    $('#btn_rep_save').on('click', function () {
        if (!check) {
            Swal.fire({
                icon: 'warning',
                title: '비밀번호를 확인하세요',
                text: '〣( ºΔº )〣',
                timer: 1800,
            });
            return;
        } else if ($('#rep_content').val() == "") {
            Swal.fire({
                icon: 'warning',
                title: '내용을 입력하세요',
                text: '〣( ºΔº )〣',
                timer: 1800,
            });
            return;
        } else {
            var rep_place = $('#rep_form_place');        // 원래 form은 div가 부모
            var rep_parent_li = $('#rep_form').parent(); // 대댓글은 li가 부모
            var rep_parent = null;
            var rep_depth = 0, rep_seq = 0;
            if (rep_place != rep_parent_li) {
                rep_parent = rep_parent_li.find('input.rep_id').val();
                rep_depth = rep_parent_li.find('input.rep_depth').val();
                rep_seq = rep_parent_li.find('input.rep_seq').val();
            }

            var data = {
                rep_content: $('#rep_content').val(),
                mem_id: $('#mem_id').val(),
                mem_nickname: $('#nickname').val(),
                brd_id: $('#brd_id').val(),
                rep_parent: rep_parent,
                rep_depth: rep_depth,
                rep_seq: rep_seq,
            };
            $.ajax({
                url: '/api/reply/save',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                type: 'POST'
            }).done(function () {
                Swal.fire({
                    icon: 'success',
                    title: '댓글 등록 성공',
                    text: '๑･̑◡･̑๑',
                    timer: 1800,
                }), window.location.reload();
            }).fail(function (error) {
                Swal.fire({
                    icon: 'error',
                    title: '댓글 등록 실패',
                    text: '๑•́ㅿ•̀๑) ᔆᵒʳʳᵞ',
                });
            });
        }
    });

    // reply update
    function rep_update(rep_id) {
        var data = {
            rep_id: rep_id,
            rep_content: $('#rep_upd_content').val(),
        };
        $.ajax({
            url: '/api/reply/update/' + rep_id,
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'PUT'
        }).done(function () {
            Swal.fire({
                icon: 'success',
                title: '댓글 수정 성공',
                text: '๑･̑◡･̑๑',
                timer: 1800,
            }), window.location.reload();
        }).fail(function (error) {
            Swal.fire({
                icon: 'error',
                title: '댓글 수정 실패',
                text: '๑•́ㅿ•̀๑) ᔆᵒʳʳᵞ',
            });
        });

        // 변수 초기화
        b_btn = '';
        b_content = '';
    };

    // reply delete
    function rep_del(rep_id) {
        Swal.fire({
            title: '정말 삭제 하시겠습니까?',
            text: "다시 되돌릴 수 없어요..",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#F8E0E0',
            confirmButtonText: '승인',
            cancelButtonText: '취소'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/api/reply/delete/' + rep_id,
                    type: 'DELETE'
                }).done(function () {
                    Swal.fire('삭제 완료', '୧(•̀ө•́)୨', 'success', 1800),
                    window.location.reload();
                }).fail(function (error) {
                    Swal.fire('삭제 실패', '•᷄ʚ •᷅', 'success');
                });
            } else return false;
        });
    };
</script>

</body>
</html>