{{>layout/header}}

<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Board List</h2>
        <p>
            {{^ses_id}}
                로그인 후 자유롭게 글을 작성하세요! <br><br><br>
                <a href="/member/signIn" class="button big special"> Sign In </a>
            {{/ses_id}}
            {{#ses_id}}
                자유롭게 글을 작성하세요! <br><br><br>
                <a href="/board/save" class="button big special"> Create Board </a>
            {{/ses_id}}
        </p>
    </header>
    <div class="container">
        <div class="row">

        {{#board}}
            <div class="4u">
                <section class="special box">
                    <a href="/api/board/detail/{{brd_id}}">
                        <img src="images/board/name.jpg" class="icon fa-area-chart major" />
                        <h3>{{brd_title}}</h3>
                        <p>{{#modifiedDate}} {{modifiedDate}} {{/modifiedDate}}
                            {{^modifiedDate}} {{createdDate}} {{/modifiedDate}}
                            &nbsp;&nbsp;&nbsp;&nbsp;<strong>조회수</strong></p>
                        <p><strong>{{mem_nickname}}</strong></p>
                    </a>
                </section>
            </div>
        {{/board}}
        {{^board}}
            <div class="-1u">
                <section class="special box">
                    <h3>아직 작성된 게시글이 없습니다.</h3>
                </section>
            </div>
        {{/board}}

        </div>
    </div>
</section>

{{>layout/footer}}