{{>layout/header}}
{{>layout/summernote}}

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>title</h2>
        <p>
            createdate &nbsp;&nbsp;->&nbsp;&nbsp; modified<br>
            <strong>nickname</strong> &nbsp;&nbsp; &nbsp;&nbsp; cnt<br>
            <input type="hidden" value="1" name="brd_category">
        </p>
    </header>
    <div class="container">
        <input type="hidden" value="{{ses_id}}" id="session" >
        <form>
            <label for="brd_title">TITLE</label>
            <input type="text" name="brd_title" id="brd_title">
            <label for="mem_nickname">NICKNAME</label>
            <input type="text" name="mem_nickname" id="mem_nickname" value="{{mem_nickname}}" readonly>
            <br>
            <label for="brd_file">FILE</label>
            <input type="file" name="brd_file" id="brd_file" multiple>
            <label for="brd_image">IMAGE</label>
            <input type="image" name="brd_image" id="brd_image" multiple>
            <br>
<!--            <label for="brd_content">CONTENT</label>-->
<!--            <input type="text" name="brd_content" id="brd_content">-->
            <textarea id="summernote" name="editordata"></textarea>
        </form>
        <hr class="major" />

        <a href="/board/" role="button" class="button big alt"> 취소 </a>
        <button type="button" class="button big special" id="btn-save">등록</button>

        <div class="row">
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"></a>
                    <h3>Mollis adipiscing nisl</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="" alt="" /></a>
                    <h3>Neque ornare adipiscing</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>

<!--<script>-->
<!--    $('#summernote').summernote('insertText', )-->
<!--</script>-->

{{>layout/footer}}