{{>layout/header}}
{{>layout/summernote}}

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">

        <label for="brd_id">글 번호</label>
        <input type="text" class="form-control" id="brd_id" value="{{board.brd_id}}" readonly>


        <label for="brd_category">CATEGORY</label>
        <select name="brd_category" id="brd_category">
            <option value="">카테고리를 선택하세요</option>
            <option value="1">Daily</option>
            <option value="2">IT</option>
            <option value="3">Study</option>
        </select>

        <label for="brd_title">글 제목</label>
        <input type="text" name="brd_title" id="brd_title" value="{{board.brd_title}}">
        <p>
            <strong>{{board.mem_nickname}}</strong>
        </p>
    </header>
    <div class="container">
        <section>
            <p><div name="editordata" id="summernote"></div></p>
        </section>

        <a href="/api/board/detail/{{board.brd_id}}" role="button" class="button big alt"> 돌아가기 </a> &nbsp;&nbsp;&nbsp;
        <button id="btn-update" class="button big special"> 수정 완료 </button> &nbsp;&nbsp;&nbsp;
        <button id="btn-delete" class="button big alt"> 삭제 </button>

    </div>
</section>

<script>
    var content = '{{board.brd_content}}';
    $(function() {
        $('#summernote').summernote('code', content);
        // $('#summernote').summernote('insert.insertText', content);
    })
</script>

{{>layout/footer}}