<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review Board Update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragment/common :: css"></div>

    <!-- summernote API -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>
<!--<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">-->
<body>
<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <div th:replace="fragment/common :: header"></div>

    <section class="site-section">
        <div class="container">
            <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Board Update</h3>
                <input type="hidden" id="brd_id" th:value="${board.getBrd_id()}">
                <form class="p-5 bg-light" id="update_form" action="ch()">
                    <div class="form-group">
                        <label for="title">Title *</label>
                        <input type="text" class="form-control" id="title" th:value="${board.getBrd_title()}" required>
                    </div>
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <p><strong id="nickname">[[${member.getMem_nickname}]]</strong></p>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="mem_pw" th:value="${member.getMem_password()}">
                        <label for="password">Password *</label>
                        <input type="password" class="form-control" id="password" required>
                        <div id="pw_ch"></div>
                    </div>
                    <div class="form-group">
                        <textarea name="content" style="display: none;" th:field="${board.getBrd_content()}"></textarea>
                        <label for="summernote">Content *</label>
                        <div id="summernote"></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" id="btn-update">
                        <input type="button" value="Delete" class="btn" id="btn-delete">
                        <input type="button" value="Cancel" class="btn" onclick="history.back()">
                    </div>

                </form>
            </div>
        </div>
    </section>

    <div th:replace="fragment/common :: footer"></div>

</div> <!-- .site-wrap -->

<div th:replace="fragment/common :: script"></div>

<script type="text/javascript" src="../js/app/board.js"></script>

<!-- summernote API -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="/js/summernote/lang/summernote-ko-KR.js"></script>

<script src="/js/app/summernote.js"></script>


<script>
    $(function() {
        var content = $('textarea[name="content"]').val();

        $('#summernote').summernote('code', content);
    });

    var pwCh = $('#mem_pw').val();
    var check = false;
    $('#password').blur(function () {
        if($('#password').val() == pwCh) {
            console.log('true');
            $('#pw_ch').text('비밀번호 일치 확인되었습니다.');
            $('#pw_ch').css('color', 'black');
            check = true;
        } else {
            console.log('false');
            $('#pw_ch').text('비밀번호가 일치하지 않습니다.');
            $('#pw_ch').css('color', 'red');
            check = false;
        }
    });

    $(function ch() {
        if(check) {
            $('#update_form').action = "javascript:update()";
            $('#update_form').submit();
        }
        else {
            alert('비밀번호를 확인하세요!');
            return;
        }
    });
</script>

</body>
</html>