{{>layout/header}}
<form action="/member/signUp" method="post" name="signUp">
    <div>
        <label for="id">ID</label>
        <input type="text" id="id" name="id" placeholder="아이디를 입력하세요">
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
        <label for="passwordCheck">PASSWORD CHECK</label>
        <input type="password" id="passwordCheck" name="passwordCheck" placeholder="비밀번호를 한번 더 입력하세요">
        <label for="username">NAME</label>
        <input type="text" id="username" name="username" placeholder="이름을 입력하세요">
        <label for="nickname">NICKNAME</label>
        <input type="text" id="nickname" name="nickname" placeholder="별명을 입력하세요">
        <label for="phone">PHONE</label>
        <input type="text" id="phone" name="phone" placeholder="전화번호를 입력하세요">
    </div>
    <div>
        <input type="submit" value="회원가입" id="btn-signUp" class="button big special">
        <input type="button" value="로그인" onclick="location.href='/member/signIn'" class="button big alt">
        <input type="button" value="HOME" onclick="location.href='/'" class="button big alt">
    </div>
</form>


{{>layout/footer}}