<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Info Update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragment/common :: css"></div>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <div th:replace="fragment/common :: header"></div>

    <section class="site-section">
        <div class="container">
            <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Info Update</h3>
                <form class="p-5 bg-light">
                    <input type="hidden" id="mem_id" th:value="${member.mem_id}">

                    <div class="form-group">
                        <label for="userid">E-Mail</label>
                        <input type="email" class="form-control" id="userid" th:value="${member.mem_userid}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input type="password" class="form-control" id="password" required>
                        <div id="pw_ch"></div>
                    </div>
                    <div class="form-group">
                        <label for="passwordCheck">Password Check *</label>
                        <input type="password" class="form-control" id="passwordCheck" required>
                        <div id="pw_ch2"></div>
                    </div>
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input type="text" class="form-control" id="nickname" th:value="${member.mem_nickname}">
                    </div>
                    <div class="form-group">
                        <input type="button" value="Update" class="btn" id="btn-mem-upd">
                        <input type="button" value="Delete" class="btn" id="btn-mem-del">
                        <input type="button" value="Cancel" class="btn" onclick="history.back()">
                    </div>

                </form>
            </div>
        </div>
    </section>

    <div th:replace="fragment/common :: footer"></div>

</div> <!-- .site-wrap -->

<div th:replace="fragment/common :: script"></div>

<script>
    var passForm = /^[a-zA-Z0-9!@#$%]{6,12}$/;

    $('#password').blur(function () {
        if(passForm.test($('#password').val())){
            console.log('true');
            $('#pw_ch').text('');
        } else {
            console.log('false');
            $('#pw_ch').text('숫자, 영문 대소문자, !@#$% 를 혼합하여 6~12 자리 입력하세요');
            $('#pw_ch').css('color', 'red');
        }
    });

    var check = false;
    $('#passwordCheck').blur(function () {
        if($('#password').val() == ($('#passwordCheck').val())) {
            console.log('true');
            $('#pw_ch2').text('비밀번호 일치 확인되었습니다.');
            $('#pw_ch2').css('color', 'black');
            check = true;
        } else {
            console.log('false');
            $('#pw_ch2').text('비밀번호가 일치하지 않습니다.');
            $('#pw_ch2').css('color', 'red');
            check = false;
        }
    });

    $('#btn-mem-upd').on('click', function () {
        if($('#nickname').val() == "") {
            Swal.fire({
                icon: 'warning',
                title: '닉네임을 입력하세요',
                text: '〣( ºΔº )〣',
                timer: 1800,
            });
            return;
        } else if(!check) {
            Swal.fire({
                icon: 'warning',
                title: '비밀번호를 확인하세요',
                text: '〣( ºΔº )〣',
                timer: 1800,
            });
            return;
        } else {
            var mem_id = $('#mem_id').val();

            var data = {
                mem_id: mem_id,
                mem_password: $('#password').val(),
                mem_nickname: $('#nickname').val()
            };

            $.ajax({
                data: JSON.stringify(data),
                url: '/api/member/update/' + mem_id,
                type: 'PUT',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
            }).done(function (data) {
                Swal.fire({
                    icon: 'success',
                    title: '회원정보 수정 성공',
                    text: '๑･̑◡･̑๑',
                    timer: 1800,
                }), window.location.href = '/member/mypage?ses_id=' + data;
            }).fail(function (error) {
                Swal.fire({
                    icon: 'error',
                    title: '회원정보 수정 실패',
                    text: '๑•́ㅿ•̀๑) ᔆᵒʳʳᵞ',
                });
            });
        }
    });

    $('#btn-mem-del').on('click', function () {
        var mem_id = $('#mem_id').val();
        Swal.fire({
            title: '정말 삭제 하시겠습니까?',
            text: "다시 되돌릴 수 없어요..",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#F8E0E0',
            confirmButtonText: '승인',
            cancelButtonText: '취소'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/api/member/delete/' + mem_id,
                    type: 'DELETE'
                }).done(function () {
                    Swal.fire('삭제 완료', '୧(•̀ө•́)୨', 'success', 1800),
                        window.location.href='/';
                }).fail(function (error) {
                    Swal.fire('삭제 실패', '•᷄ʚ •᷅', 'success');
                });
            } else return false;
        });
    });
</script>

</body>
</html>