<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Info Update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragment/common :: css"></div>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <div th:replace="fragment/common :: header"></div>

    <section class="site-section">
        <div class="container">
            <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Info Update</h3>
                <form class="p-5 bg-light">
                    <input type="hidden" id="mem_id" th:value="${member.mem_id}">

                    <div class="form-group">
                        <label for="userid">E-Mail</label>
                        <input type="email" class="form-control" id="userid" th:value="${member.mem_userid}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input type="password" class="form-control" id="password" required>
                        <div id="pw_ch"></div>
                    </div>
                    <div class="form-group">
                        <label for="passwordCheck">Password Check *</label>
                        <input type="password" class="form-control" id="passwordCheck" required>
                        <div id="pw_ch2"></div>
                        <input type="hidden" id="mem-upd-pw_bool" value="false">
                    </div>
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input type="text" class="form-control" id="nickname" th:value="${member.mem_nickname}">
                    </div>
                    <div class="form-group">
                        <input type="button" value="Update Account" class="btn" id="btn-mem-upd">
                        <input type="button" value="Delete Account" class="btn" id="btn-mem-del">
                        <input type="button" value="Cancel" class="btn" onclick="history.back()">
                    </div>

                </form>
            </div>
        </div>
    </section>

    <div th:replace="fragment/common :: footer"></div>

</div> <!-- .site-wrap -->

<div th:replace="fragment/common :: script"></div>
<script type="text/javascript" src="/js/app/member.js"></script>

<script>
    var passForm = /^[a-zA-Z0-9!@#$%]{6,12}$/;

    $('#password').blur(function () {
        if(passForm.test($('#password').val())){
            console.log('true');
            $('#pw_ch').text('');
        } else {
            console.log('false');
            $('#pw_ch').text('숫자, 영문 대소문자, !@#$% 를 혼합하여 6~12 자리 입력하세요');
            $('#pw_ch').css('color', 'red');
        }
    });

    $('#passwordCheck').blur(function () {
        if($('#password').val() == ($('#passwordCheck').val())) {
            console.log('true');
            $('#pw_ch2').text('비밀번호 일치 확인되었습니다.');
            $('#pw_ch2').css('color', 'black');
            $('#mem-upd-pw_bool').val(true);
        } else {
            console.log('false');
            $('#pw_ch2').text('비밀번호가 일치하지 않습니다.');
            $('#pw_ch2').css('color', 'red');
            $('#mem-upd-pw_bool').val(false);
        }
    });
</script>

</body>
</html>