<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Playfair+Display:400,700,900 " rel="stylesheet">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">
</div>

<div th:fragment="header">
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-6 col-xl-2">
                    <h1 class="mb-0 site-logo m-0 p-0"><a href="/" class="mb-0">Review.</a></h1>
                </div>

                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="/" class="nav-link">Home</a></li>
                            <li><a href="/board/" class="nav-link">Board</a></li>
                            <li th:if="${session['ses_id'] == null}"><a href="/member/sign_in" class="nav-link">Sign In</a></li>
                            <li th:unless="${session['ses_id'] == null}">
                                <a th:href="@{/member/mypage(ses_id=${session['ses_id']})}" class="nav-link">My Page</a>
                                <a th:href="@{/member/sign_out(ses_id=${session['ses_id']})}" class="nav-link">Sign Out</a>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

            </div>
        </div>

    </header>
</div>

<div th:fragment="footer">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="footer-heading mb-5">About Yejin</h2>
                            <p>맛집 탐방을 좋아하고<br> 아직 짱구를 좋아하는 동심을 가지고 있어요!<br>  ٩(*•̀ᴗ•́*)و </p>
                            <p>제가 더 궁금하시다면 <br>오른쪽의 링크들을 이용해주세요<br>  (づ｡◕‿‿◕｡)づ </p>
                        </div>
                        <div class="col-md-3 ml-auto">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="/board/">Board</a></li>
                                <li><a href="/member/sign_in">Sign In</a></li>
                                <li><a href="/member/sign_up">Sign Up</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 ml-auto">
                    <h2 class="footer-heading mb-4">Follow Me</h2>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/eee269">GitHub</a></li>
                        <li><a href="https://jinny-1st.tistory.com">Blog: Tech Collection</a></li>
                        <li><a href="https://open.kakao.com/o/sFvlU1Rc">Open Kakao Talk</a></li>
                        <li><a href="#">Email Address</a></li>
                    </ul>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;2021 All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div>

<div th:fragment="script">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>

    <!-- alert 디자인 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script src="/js/main.js"></script>
</div>
</html>