<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" href="../../static/css/skel.css">-->
<th:block th:fragment="configFragment">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 공통 css -->
    <link rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}" />

    <link rel="stylesheet" href="../../css/skel.css" th:href="@{/css/skel.css}" type="text/css"/>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="../../css/style-xsmall.css" th:href="@{/css/style-xsmall.css}" type="text/css"/>
    <link rel="stylesheet" href="../../css/style-small.css" th:href="@{/css/style-small.css}" type="text/css"/>
    <link rel="stylesheet" href="../../css/style-medium.css" th:href="@{/css/style-medium.css}" type="text/css"/>
    <link rel="stylesheet" href="../../css/style-large.css" th:href="@{/css/style-large.css}" type="text/css"/>
    <link rel="stylesheet" href="../../css/style-xlarge.css" th:href="@{/css/style-xlarge.css}" type="text/css"/>

    <!-- 공통 js -->
    <script th:src="@{https://code.jquery.com/jquery-2.2.4.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel-layout.min.js}"></script>
<!--    <script type="text/javascript" src="../../js/skel.min.js" th:src="@{/js/skel.min.js}"></script>-->
<!--    <script type="text/javascript" src="../../js/skel-layers.min.js" th:src="@{/js/skel-layers.min.js}"></script>-->
    <script type="text/javascript" src="../../js/init.js" th:src="@{/js/init.js}"></script>

    <!-- default_layout을 사용하는 페이지에서 단독으로 넣을 css 공간 -->
    <th:block layout:fragment="css" ></th:block>

    <!-- default_layout을 사용하는 페이지에서 단독으로 넣을 script 공간 -->
    <th:block layout:fragment="script" ></th:block>

</th:block>
</html>