<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Review</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragment/common :: css"></div>
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div th:replace="fragment/common :: header"></div>
    
    <div class="site-blocks-cover overlay" style="background-image: url(images/hero_1.jpg);" data-aos="fade" id="home-section">


      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6 mt-lg-5 text-center">
            <h1>WELCOME!</h1>
            <p class="mb-5">제가 만든 홈페이지에 방문해주셔서 감사합니다  ༼๑⁰⊖⁰๑༽❤ </p>
            
          </div>
        </div>
      </div>

      <a href="#properties-section" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
    </div>  

    <div class="site-section" id="properties-section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7 text-left">
            <h2 class="section-title mb-3">Recent Boards</h2>
          </div>
        </div>

          <div class="row justify-content-center" th:if="${boardList == null}">
            <blockquote class="mb-5">
              <p>등록된 게시글이 없습니다. <br> 게시글을 등록해주세요!</p>
              <input type="button" value="Write" class="btn btn-primary" onclick="location.href='/board/save'">
            </blockquote>
          </div>

        <div class="owl-carousel nonloop-block-13 mb-5" th:unless="${boardList == null}">
          <!-- board의 최근글 리스트 불러와서 10개 나열 -->

          <div class="property" th:each="board, i: ${boardList}" style="min-height: 250px">
            <th:block th:if="${i.count < 10}">
            <a th:href="@{/api/board/detail(brd_id=${board.getBrd_id})}">
              <div class="prop-details p-3">
                <div><strong class="price">[[${board.getBrd_title()}]]</strong></div>
                <br><br>
                <div class="mb-2 d-flex justify-content-between">
                  <th:block th:if="${board.getModifiedDate()}">
                    <span class="w">[[${board.getCreatedDate()}]]</span>
                  </th:block>
                  <th:block th:unless="${board.getModifiedDate()}">
                    <span class="border-left w">[[${board.getCreatedDate()}]]</span>
                  </th:block>

                </div>
                <br><br>
                <div>[[${board.getMem_nickname()}]]</div>
                <span class="w"> view : [[${board.getBrd_cnt()}]]</span>

              </div>
            </a>
            </th:block>
          </div>

        </div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <a href="/board" class="btn btn-primary btn-block">View All Boards</a>
          </div>
        </div>
      </div>
    </div>

    <section class="site-section testimonial-wrap" id="testimonials-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Who Makes This Web Page?</h2>
          </div>
        </div>
      </div>
      <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              
              <blockquote class="mb-5">
                <p>&ldquo;I Want To Be A Back-End Developer&rdquo;</p>
              </blockquote>

              <figure class="mb-4 d-flex align-items-center justify-content-center">

                <a href="https://github.com/eee269">
                  <div><img src="images/yejin.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                  <p>Kim Yejin</p>
                </a>
              </figure>
            </div>
          </div>

        </div>
    </section>

    <div th:replace="fragment/common :: footer"></div>

  </div> <!-- .site-wrap -->

  <div th:replace="fragment/common :: script"></div>

  </body>
</html>